TumbaSpriteShit/UserSettings/Layouts/default-2022.dwlt
TumbaSpriteShit/Logs/shadercompiler-UnityShaderCompiler.exe0.log
TumbaSpriteShit/Logs/shadercompiler-AssetImportWorker0.log
TumbaSpriteShit/Logs/AssetImportWorker0.log
TumbaSpriteShit/Logs/AssetImportWorker0-prev.log
TumbaSpriteShit/Library/SourceAssetDB
TumbaSpriteShit/Library/SceneVisibilityState.asset
TumbaSpriteShit/Library/expandedItems
TumbaSpriteShit/Library/EditorUserBuildSettings.asset
TumbaSpriteShit/Library/ArtifactDB
TumbaSpriteShit/Library/*
TumbaSpriteShit/Library/
TumbaSpriteShit/Library